{% extends "blog/base.html" %}
{% load static %}
{% block content %}
	{% if query %}
		<h2>Фирмы с похожим названием на "{{ query }}"</h2>
		<div class="alert alert-success">
			{% with results.count as total_results %}
				Найденных фирм по Вашему запросу {{ total_results }} :
			{% endwith %}
		</div>
		{% for post in results %}
			<div class="post-wrap">
				<article class="post">
					<div class="thumb">
			 			<a href="{{ post.get_absolute_url }}">
			 				<img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'images/image-content.jpg' %}{% endif %}">
			 			</a>
			 		</div>
			 		<div class="content">
			 			<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
						<div class="tags">
			 				{% for tag in post.tags.all %}
			 					<a href="{% url 'blog:post_list_by_tag' tag.slug %}">
			 					{{ tag.name }}
			 					</a>
			 					{% if not forloop.last %}, {% endif %}
			 				{% endfor %}
						</div>
						<p class="excerpt-entry">{{ post.body|truncatewords:30 }}</p>
					</div>
				</article>
			</div>
		{% empty %}
			<p>There are no results for your query.</p>
		{% endfor %}
		<div class="button-item"><a href="{% url 'blog:post_search' %}" class="gn-button" onclick="return true;">Искать ещё</a></div>
	{% else %}
		<h1>Search for posts</h1>
		<form action="." method="get">
			{{ form.as_p }}
			<input type="submit" value="Search">
		</form>
	{% endif %}
{% endblock %}

